@import '../../variables.scss';

.NavbarContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100px;
  position: fixed;
  z-index: 9999;
  background-color: black;

  button {
    padding: 0px;
  }

  .LinkContainer {
    .dropdown {
      display: none;
    }

    .dropdown-toggle::after {
      display: none;
    }

     button {
       margin-left: 16px;
     }

     #custom {
      color: #6E757C;
      font-family: $basicFont;
      font-size: 20px;
      margin-left: 16px;      
      box-shadow: inset 0 0 0 0 #6E757C;
      transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
      cursor:pointer;
      border-radius: 3px;
     }

     #custom:hover {
      box-shadow: inset 100px 0 0 0 #6E757C;
      color: white;
     }
  }

  img {
    width: 40px;
    height: 40px;
  }

  #custom {
    outline: none !important;
    outline-offset: none !important;
  }

  #custom {
    outline: none !important;
    outline-offset: none !important;
  }
}

@media only screen and (max-width: $basicSize) {

  .NavbarContainer .LinkContainer .dropdown .dropdown-menu {
    transition: none !important;
  }

  .NavbarContainer {
    height: 75px;
    .LinkContainer {

      .LinkDropDownMenu {
        display: flex;
        height: 200px;
        flex-direction: column;
        justify-content: space-between;
        font-size: 22px;
        align-items: center;
      }

      .dropdown{
        display: flex;
        margin-bottom: 14px;
        margin-left: 0px;
      }
      #custom {
        display: none;
      }

      #custom1 {
        color: #000000;
        font-family: $basicFont;
        font-size: 22px;
        cursor:pointer;
        border-radius: 3px;
       }
  
       #custom1:hover {
        box-shadow: inset 100px 0 0 0 #6E757C;
        color: white;
       }

      button {
        margin-left: 0px;
      }

      .dropdown .dropdown-menu {
        -webkit-transition: all 0.32s;
        -moz-transition: all 0.32s;
        -ms-transition: all 0.32s;
        -o-transition: all 0.32s;
        transition: all 0.32s;
    
        display: block;
        overflow: hidden;
        opacity: 0;
        transform-origin: top;
      }
    
      .dropdown-menu.show {
        opacity: 1;
      }

      .dropdown-menu {
        display: flex;
        background-color: #6E757C;
        font-family: $basicFont;
        justify-content: center;
      }


    .btn-check:active+.btn-success, .btn-check:checked+.btn-success, .btn-success.active, .btn-success:active, .show>.btn-success.dropdown-toggle {
      color: black;
      border-color: #6E757C;
      background-color: #6E757C;
      margin-left: 0px;
    }

    .btn-success {
      color: #6E757C;
      border-color: #6E757C;
      background-color: black;
      margin-left: 0px;
      border-radius: 6px;
    }
    }
  }
}