@import '../../variables.scss';

.FooterContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 80px;
  background-color: black;

  .footerText {
    display: flex;
    align-items: center;

    p {
      color: #e7dede;
      font-family: $basicFont;
      margin-bottom: 0px;
      font-size: 20px;
      margin-right: 32px;
      color: #848484;
    }

    img {
      width: 40px;
      height: 40px;
    }

    #button1 {
      margin-left: 0px;
    }
  }
}
